# The Medusa backend this panel talks to.
NEXT_PUBLIC_MEDUSA_BACKEND_URL=http://localhost:9000


# Public address of the storefront, used to show each published product's URL.
NEXT_PUBLIC_STOREFRONT_URL=http://localhost:8000
